<%- include("partials/header") %>
<h1>This is the Home Page!
</h1>

<img src="https://gfp-2a3tnpzj.stackpathdns.com/wp-content/uploads/2019/11/Maddie-f1-600x600.jpg">

<%- include("partials/footer") %>