<h1>
	This is the Secret Page!
</h1>

<p>
	You Found Me!
</p>

<img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/197064_1002854994786_7467_n.jpg?_nc_cat=102&_nc_sid=de6eea&_nc_ohc=YnB-M-3o8lAAX-Dfk9g&_nc_ht=scontent-lga3-1.xx&oh=941e6beb918a138a4e042aab7ddbcf4c&oe=5ED71534">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>